.btn-primary {
	background-color: $color-secondary;
	border: none !important;
	color: $black;
	&:hover {
		background-color: $color-primary !important;
		color: black !important;
	}
}

.btn-secondary {
	border: none !important;
	margin-left: 10px;
	&:hover {
		background-color: $color-primary !important;
		color: black !important;
	}
}

.logout {
	margin-top: 20px;
	margin-left: 0;
}

@media (min-width: 576px) {
	.btn-secondary {
		margin-left: 0;
		margin-top: 10px;
	}
}
