.btn-primary {
	background-color: $color-secondary;
	border: none !important;
	color: $black;
	&:hover {
		background-color: $color-primary !important;
		color: black !important;
	}
}

.btn-secondary {
	border: none !important;
	margin-left: 10px;
	&:hover {
		background-color: $color-primary !important;
		color: black !important;
	}
}
