.footer {
	margin-top: 50px;
	padding-top: 50px;
	background-color: $color-secondary;

	.footer-wrapper {
		.container {
			text-align: center;
			.footer-bottom {
				p.text-xs-center {
					margin-bottom: 0;
					text-align: center;
				}
			}
			.footer-nav {
				padding-left: 0;
				a {
					color: $black;
					padding-bottom: 20px;
					&:hover {
						text-decoration-thickness: 0.5em;
					}
				}
			}
		}
	}
}

@media (min-width: 576px) {
	.footer-wrapper {
		.container {
			text-align: left !important;
		}
	}
}


