.navbar {
	background-color: $color-primary !important;
	z-index: 1;
	.navbar-brand {
		img {
			width: 7em;
		}
	}

	.empty-object {
		width: 30%;
	}

	.navbar-toggler {
		border: none;
	}

	.navbar-collapse {
		text-align: center;
	}

	a {
		color: $black;
		&.active {
			color: $blue;
		}
		&:hover {
			text-decoration-thickness: 0.5em;
		}
	}

	.navbar-nav {
		a {
			padding: 20px;
		}
	}
}
