.navbar {
	background-color: $color-primary !important;
	z-index: 1;
	.navbar-brand {
		img {
			width: 7em;
		}
	}
	.navbar-toggler {
		border: none;
	}
	.navbar-collapse {
		text-align: center;
	}

	.navbar-nav {
		a {
			color: $black;
			padding: 20px;
			&.active {
				color: $blue;
			}
			&:hover {
				text-decoration-thickness: 0.5em;
			}
		}
	}
}
