.edit-page {
	.logout {
		background: none;
		color: $black;
		text-align: end;
	}
}
.add-products {
	padding: 20px;
	background-color: rgba($grey, 0.2);
	grid-template: "add";
	.submitButton {
		margin-bottom: 10px;
	}
}

@media (min-width: 576px) {
	.edit-page {
		display: grid;
		grid-template-columns: 1fr;

		.add-products {
			justify-content: center;
			max-width: 100%;
		}
	}

	.products-to-edit {
		.edit-container {
			.products {
				flex-wrap: wrap;
				.card {
					margin-left: 0;
					margin-right: 10px;
					.box-image {
						margin: 10px;
					}
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.edit-page {
		h1,
		h2 {
			text-align: center;
		}
		.add-products {
			max-width: 670px;
			width: 100%;
			margin-left: auto;
			margin-right: auto;
		}
	}
}
