#cartPage {
	.card {
		.product {
			padding: 10px 0;
		}
	}
	.payment {
		text-align: center;
	}
	@media (min-width: 576px) {
		.products {
			flex-wrap: wrap;
			justify-content: space-around;
			.card {
				margin-left: 0;
			}
		}
	}
}
