#cartPage {
	.card {
		.product {
			padding: 10px 0;
		}
	}
	.btn-primary {
		margin-top: 10px;
		margin-right: 10px;
	}
	.btn-secondary {
		margin-top: 10px;
		margin-left: 0;
	}
	.payment {
		text-align: center;
	}
	@media (min-width: 576px) {
		.products {
			flex-wrap: wrap;
			justify-content: space-around;
			.card {
				margin-left: 0;
			}
		}

		.btn-primary {
			margin-left: 10px;
		}
	}
	@media (min-width: 768px) {
		.btn-secondary {
			margin-top: 10px;
			margin-left: 0;
		}
	}
}
