.products-page {
	display: flex;
}

.card {
	margin-bottom: 20px;
	.product {
		.card-body {
			text-align: center;
		}
	}
}

@media (min-width: 576px) {
	.products {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 14px;

		.card {
			min-width: 163px;
			margin-left: auto;
			min-width: 100%;
			.box-image {
				height: 165px;
				overflow: hidden;
				img {
					object-position: 50% 50%;
				}
			}
		}
	}
	.product-detail {
		display: flex;
		justify-content: space-between;
		.card {
			max-width: 600px !important;
		}
		.btn-secondary {
			margin-top: 0;
			margin-left: 10px;
		}
	}
}

@media (min-width: 768px) {
	.products {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	.product-detail {
		justify-content: center;
	}
}
