#productsPage {
	.container {
		.products-page {
			.search-box {
				margin-left: auto;
				margin-right: 0;
			}
		}
		input {
			&.searchInput {
				margin-top: 34px !important;
				margin-bottom: 20px !important;
			}
		}
	}
}
